<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-header">
            <h2>Вход</h2>
            <p>Введите свои данные для авторизации</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="userName" placeholder="Логин">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Пароль">
            </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn-submit">Войти</button>
        </form>
        <div class="form-footer">
            <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
